<header>
    <nav>
        <img
            alt="logo"
            src="/public/images/Beats_Blockchains.png"
            class="logo"
        />
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/market">Market</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Music Rights</h1>
    <table class="table-list">
        <tr>
            <th>
                Name of the song
            </th>
            <th>
                Artist
            </th>
            <th>Last Sold Price</th>
            <th>
                Current Price
            </th>
        </tr>
        {{#each songs}}
            <tr
                onclick="window.location='/songs/{{_id}}'"
                class="clickable-row"
            >
                <td>
                    {{name}}
                </td>
                <td>
                    {{artist}}
                </td>
                <td>
                    {{lastSoldPrice}}
                </td>
                <td>
                    {{price}}
                </td>
            </tr>
        {{/each}}
    </table>
</main>