<header>
    <nav>
        <img alt="logo" src="/public/images/Beats_Blockchains.png" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/market">Market</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/users/logout">Log Out</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>{{songs.name}}</h1>
    <div class="songs-description">
        <h2>Artist</h2>
        <h3>{{songs.artist}}</h3>
    </div>
    <div class="songs-description">
        <h2>Price</h2>
        <h3>${{songs.price}}</h3>
    </div>
    <div class="songs-description">
        <h2>Genre</h2>
        <h3>{{songs.genre}}</h3>
    </div>
    <div class="songs-description">
        <h2>Description</h2>
        <h3>{{songs.description}}</h3>
    </div>
    <div class="songs-description">
        <h2>Last Sold Price</h2>
        <h3>${{songs.lastSoldPrice}}</h3>
    </div>
    <div class="songs-description">
        <h2>Number of Tracks</h2>
        <h3>{{songs.numberOfTracks}}</h3>
    </div>
    <div class="songs-description">
        <h2>currently Available</h2>
        <h3>{{songs.currentlyAvailable}}</h3>
    </div>
    <form id="buy-songs" action="/wallet/songs/{{songs._id}}" method="POST" class="buy-songs">
        <button type="submit">Buy Now</button>
    {{#if errors}}
        <p>{{errors}}</p>
    {{/if}}
</main>