<header>
    <nav>
        <img alt="logo" src="/public/images/Beats_Blockchains.png" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/market">Market</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/users/logout">Log Out</a></li>
        </ul>
    </nav>
</header>
    <h1 id = "greeting">Good {{time}}, {{username}}.</h1>
    <div class = "grid-container">

        <div class = "asset-graph">
            {{#if profit}}
                <p id="asset-status">You're up ${{pnl}} today! ({{total_ret}}%)</p>
            {{else}}
                <p id="asset-status">You're down ${{pnl}} today! ({{total_ret}}%)</p>
            {{/if}}
            <div id = "chartDiv">
                <canvas id="myChart"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <div class = "owned-songs">
                <div class = "carousel">
                    <table class = "song-carousel">
                        <thead class = "song-header">
                            <tr class = "e">
                                <th>Songs Owned </th>
                                <th>Date Purchased</th>
                                <th>Current Value</th>
                                <th></th> {{!-- column for sell buttons --}}
                            </tr>
                        </thead>
                        {{#if songs}}
                            {{#each songs}}
                            <tr class= "song-entry">
                                <td class = "song-cell">
                                    <img
                                    class = "covers" 
                                    src = "{{image}}"
                                    alt = "Cover of {{name}} by {{artist}}">
                                    <p class = "song-name">{{name}}</p>
                                    <p class = "artist">{{artist}}</p>
                                    
                                </td>
                                <td>{{date}}</td>
                                <td>${{price}}</td>
                                <td>
                                    <button songId="{{_id}}" class="sell-song-button" data-toggle="modal" data-target="#myModal">Sell</button>
                                    <div id="myModal" class="modal fade" style="z-index: 9999;" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Modal Header</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Some text in the modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            {{/each}}
                        {{else}}
                            <tr class= "song-entry">
                                 <td class = "song-cell">
                                    <h2>No songs purchased.</h2>
                                </td>
                            </tr>
                        {{/if}}
                    </table>
                </div>  
            </div>

        </div>
         
        <!--------- End Asset Graph ------------->

        <div class = "sidebar">
            <h3 class = "sb-headers"> Wallet</h3>
            <hr class = "div-line">
            <table class = "summary">
                <tr class = "wallet-row">
                    <td>Total Assets</td>
                    <td id="total-assets" class = "money-sum">${{assets}}</td>
                </tr>
                <tr>
                    <td>Buying Power</td>
                    <td id="buying-power" class = "money-sum">${{balance}}</td>
                </tr>
            </table>
            <h3 class = "sb-headers">Shares</h3>
            <hr>
            <table class = "stock-summary">
               {{#if stocks.length }}
                    {{#each stocks}}
                        <tr class = "wallet-row">
                            <td>
                                <div class = "industry-mini">
                                    <img
                                    class = "share-logo" 
                                    alt = "{{name}} Logo"
                                    src = "/public/images/stocks/{{symbol}}.png">
                                    <p>{{symbol}}</p>
                                </div>
                                <p class = "action">{{pos}}</p>
                            </td>
                            <td>
                                <p>Shares:{{shares}}</p>
                                <p class = "change">{{return}}%</p>
                            </td>
                            <td>
                                <button stockid="{{id}}" class="sell-stock-button" data-toggle="modal" data-target="#myModal">Sell</button>
                                <div id="myModal" class="modal fade" style="z-index: 9999;" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Are you sure?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="sell-stock" action="/wallet/sell/stock/{{_id}}" method="POST">
                                                    <label for="numStockSharesToSell">How many stocks would you like to sell?{{id}}</label>
                                                    <input type="text" name="numStockSharesToSell" id="numStockSharesToSell">
                                                    <button type="submit">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    {{else}}
                        <tr class = "wallet-row">
                            <td>
                                <h3 id = "no-tra">No stocks invested for this account.</h3>
                                <h4 id = "no-tra">Head to the Market to start investing!</h4>
                            </td>
                        </tr>
                {{/if}}
            </table>
            <h3 class = "sb-headers">Recent Transactions</h3>
            <hr>
            <table class = "stock-summary">
                {{#if transactions}}
                    {{#each transactions}}
                        {{#if type}}
                            <tr class = "wallet-row">
                                <td>
                                    <div class = "industry-mini">
                                        <img
                                        class = "share-logo" 
                                        alt = "{{name}} Logo"
                                        src = "/public/images/stocks/{{symbol}}.png">
                                        <p>{{symbol}}</p>
                                    </div>
                                    <p class = "action">{{pos}}</p>
                                </td>
                                <td>
                                    <p class = "rt-additional">Shares: {{shares}}</p>
                                    <p class = "change">${{price}}</p>
                                </td>
                            </tr>
                        {{else}}
                            <tr class = "wallet-row">
                                <td>
                                    <p class = "rt-song-name">{{name}}</p>
                                    <p class = "action">{{pos}}</p>
                                </td>
                                <td>
                                    <p class = "rt-additional">{{artist}}</p>
                                    <p class = "change">${{price}}</p>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                {{else}}
                    <tr class = "wallet-row">
                        <td>
                            <h3 id = "no-tra">No transactions on this account</h3>
                            <h4 id = "no-tra">Head to the Market to start investing!</h4>
                        </td>
                    </tr>
                {{/if}}
            </table>
        </div>
        <div>
            <form id="add-balance-form" method="POST" action="/wallet/add_balance">
                <p id="add-balance-alert" hidden></p>
                <label>
                    Add Balance:
                    <input id="add-balance-amt" type="number" value="amt" placeholder="Enter $ Amount" required>
                    <input type="submit" value="Submit">
                </label>
            </form>
        </div>
    </div>
    <script src = "/public/js/portfolio.js"></script>
    <script src = "/public/js/wallet.js"></script>
